name: ci

on:
  push:
    branches:
      - master
    tags:
      - '**'
  pull_request: {}

jobs:
  test:
    name: test py${{ matrix.python-version }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.7', '3.8', '3.9']

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    env:
      PYTHON: ${{ matrix.python-version }}
      PGPASSWORD: postgres

    steps:
    - uses: actions/checkout@v2

    - name: set up python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - run: pip install -U wheel
    - run: pip install -r tests/requirements.txt
    - run: pip install .
    - run: pip freeze

    - name: test
      run: make test

    - run: coverage xml

    - uses: codecov/codecov-action@v1.5.2
      with:
        file: ./coverage.xml
        env_vars: PYTHON

  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v1
      with:
        python-version: '3.8'

    - run: pip install -U wheel
    - run: pip install -r tests/requirements-linting.txt
    - run: pip install .

    - run: make lint

  deploy:
    needs:
      - test
      - lint
    if: "success() && startsWith(github.ref, 'refs/tags/')"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: set up python
        uses: actions/setup-python@v1
        with:
          python-version: '3.8'

      - name: install
        run: |
          pip install -U pip setuptools wheel twine
          pip install .

      - name: build
        run: python setup.py sdist bdist_wheel

      - run: twine check dist/*

      - name: set version
        run: VERSION_PATH='buildpg/version.py' python <(curl -Ls https://git.io/JT3rm)

      - name: upload to pypi
        run: twine upload dist/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.pypi_token }}
